.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(a1.jpg);
  width: 100%;
  height: 1000px;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(a2.jpg);
  height: 1000px;
  width: 100%;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(a3.jpg);
  height: 1000px;
  width: 100%;
}
